<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tech Paradise</title>
  </head>
  <body>
    <a href="/item/add-item">Add new product</a>
    <form action="/category-choice" method="post">
      <label for="category">Choose a category:</label>
      <select id="category" name="category">
        <option value="mobile">Mobiles</option>
        <option value="tablet">Tablets</option>
        <option value="laptop">Laptops</option>
        <option value="tv">Televisions</option>
      </select>
      <input type="submit" />
    </form>
    <% if(locals.listings != undefined){ %> <% for (let i = 0; i <
    locals.listings.length; i++) { %>
    <div>
      <ul>
        <li>Product ID: <%= locals.listings[i].id %></li>
        <li>Product Name: <%= locals.listings[i].prodname %></li>
        <li>Category: <%= locals.listings[i].category %></li>
        <li>Quantity: <%= locals.listings[i].quantity %></li>
      </ul>
    </div>
    <% } %> <% } %>
  </body>
</html>
