body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0 0 0;
  margin: 0;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#add-form-wrapper {
  padding: 1rem;
  background-color: #c7d2fe;
  display: flex;
  flex-direction: column;
}
