body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #ffffff;
  color: #202124;
}

.productListings {
  background-color: #f8f9fa;
  color: #5f6368;
  padding: 1rem;
  width: 40%;
  margin-bottom: 0.5rem;
}

.productListings ul li {
  flex: 1;
}

.homeUpdateBtn,
.homeRemoveBtn {
  background-color: #5f6368;
  border: none;
  color: #f8f9fa;
  padding: 0.5rem;
  border-radius: 5px;
}

#categoryChoiceForm {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
  background-color: #f8f9fa;
  color: #5f6368;
  padding: 1rem;
}
nav {
  width: 100%;
  box-shadow: 0 4px 2px -2px #d9dce0;
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}
nav ul {
  list-style: none;
}

nav li a {
  color: #202124;
  text-decoration: none;
  font-size: 1.5rem;
}
